body {
    background-color: rgb(249, 221, 119);
}

h1{
    text-align: center;
    background-color: rgba(235, 13, 76, 0.26);
    font-size: 50px;
}

ul {`
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-align: center;
    display: block;
    color: black;
    background-color: rgba(215, 11, 82, 0.541);
}

a:hover {
    background-color: rgb(249, 221, 119);
}
