body {
    background-color: rgb(249, 221, 119);
}

h1{
    text-align: center;
    background-color: rgba(235, 13, 76, 0.26);
    font-size: 50px;
}

ul {`
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(215, 11, 82, 0.541);
}

a {
    display: block;
    
    text-align: center;
    margin: auto;
    width: 70%;
    color: black;
}